target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!config/src/main/resources/config/paying-service.yml
!config/src/main/resources/config/quotes-api-local.yml
!config/src/main/resources/config/sub-payment.yml
!config/src/main/resources/config/subscription-local.yaml
!config/src/main/resources/config/user-profile-local.yml

